/*
 * The main dark mode styles
 */

@mixin dark-scheme {
    /* Framework color */
    --body-bg: var(--main-bg);
    --mask-bg: rgb(0, 0, 0);
    --main-bg: rgb(6, 6, 6);
    --main-border-color: rgb(48, 48, 48);
    /* Common color */
    --text-color: rgb(230, 230, 230);
    --text-muted-color: rgb(202, 202, 202);
    --heading-color: #00c91bcb;
    --blockquote-border-color: rgb(46, 46, 46);
    --blockquote-text-color: rgb(180, 180, 180);
    --link-color: rgb(42, 163, 48);
    --link-underline-color: rgba(69, 255, 22, 0.719);
    --button-bg: rgb(39, 40, 43);
    --btn-border-color: rgb(63, 65, 68);
    --btn-backtotop-color: var(--text-color);
    --btn-backtotop-border-color: var(--btn-border-color);
    --btn-box-shadow: var(--main-bg);
    --card-header-bg: rgb(32, 32, 32);
    --label-color: rgba(30, 255, 0, 0.534);
    --checkbox-color: rgb(118 120 121);
    --checkbox-checked-color: var(--link-color);
    /* Sidebar */
    // --sidebar-bg: radial-gradient(linear, #000000 50%, #000000 100%);
    --sidebar-bg: #000000;
    --sidebar-muted-color: #cacaca;
    --sidebar-active-color: rgba(30, 245, 41, 0.836);
    --nav-cursor-color: #3bff55;
    --sidebar-btn-bg: rgba(0, 0, 0, 0.2);
    /* Topbar */
    --topbar-text-color: var(--text-color);
    --topbar-wrapper-bg: rgb(14, 14, 14);
    --search-wrapper-bg: rgb(29, 29, 29);
    --search-wrapper-border-color: rgb(32, 32, 32);
    --search-icon-color: rgb(100, 102, 105);
    --input-focus-border-color: rgb(59, 59, 59);
    /* Home page */
    --post-list-text-color: rgb(175, 176, 177);
    --btn-patinator-text-color: var(--text-color);
    --btn-paginator-hover-color: rgb(64, 65, 66);
    --btn-paginator-border-color: var(--btn-border-color);
    --btn-text-color: var(--text-color);
    --pin-bg: rgb(37, 37, 37);
    --pin-color: inherit;
    /* Posts */
    --toc-highlight: rgba(99, 250, 85, 0.74);
    --tag-bg: rgb(0, 0, 0);
    --tag-hover: rgb(43, 56, 62);
    --tb-odd-bg: rgba(42, 47, 53, 0.52);
    /* odd rows of the posts' table */
    --tb-even-bg: rgb(31, 31, 34);
    /* even rows of the posts' table */
    --tb-border-color: var(--tb-odd-bg);
    --footnote-target-bg: rgb(63, 181, 73);
    --btn-share-color: #6c757d;
    --btn-share-hover-color: #bfc1ca;
    --relate-post-date: var(--text-muted-color);
    --card-bg: rgb(16, 16, 16);
    --card-border-color: rgb(32, 32, 32);
    --card-box-shadow: var(--main-bg);
    --preview-img-bg: radial-gradient( circle, rgb(22 22 24) 0%, rgb(32 32 32) 100%);
    --kbd-wrap-color: #6a6a6a;
    --kbd-text-color: #d3d3d3;
    --kbd-bg-color: #242424;
    --prompt-text-color: rgb(216 212 212 / 75%);
    --prompt-tip-bg: rgba(77, 187, 95, 0.2);
    --prompt-tip-icon-color: rgb(5 223 5 / 68%);
    --prompt-info-bg: rgba(14, 69, 17, 0.445);
    --prompt-info-icon-color: rgba(0, 212, 11, 0.56);
    --prompt-warning-bg: rgba(10, 90, 3, 0.95);
    --prompt-warning-icon-color: rgba(21, 255, 0, 0.534);
    --prompt-danger-bg: rgba(26, 121, 17, 0.151);
    --prompt-danger-icon-color: #a50000;
    /* tags */
    --tag-border: rgba(255, 255, 255, 0.322);
    --tag-shadow: rgb(26, 26, 26);
    --search-tag-bg: var(--tag-bg);
    --dash-color: rgb(46, 110, 55);
    /* categories */
    --categories-border: rgb(27, 27, 27);
    --categories-hover-bg: rgb(73, 75, 76);
    --categories-icon-hover-color: white;
    /* archives */
    --timeline-node-bg: rgb(150, 152, 156);
    --timeline-color: rgb(63, 65, 68);
    --timeline-year-dot-color: var(--timeline-color);
    .post img[data-src] {
        filter: brightness(95%);
    }
    hr {
        border-color: var(--main-border-color);
    }
    /* posts' toc, override BS */
    nav[data-toggle="toc"] .nav-link.active,
    nav[data-toggle="toc"] .nav-link.active:focus,
    nav[data-toggle="toc"] .nav-link.active:hover,
    nav[data-toggle="toc"] .nav>li>a:focus,
    nav[data-toggle="toc"] .nav>li>a:hover {
        color: var(--toc-highlight) !important;
        border-left-color: var(--toc-highlight) !important;
    }
    /* categories */
    .categories.card,
    .list-group-item {
        background-color: var(--card-bg);
    }
    .categories {
        .card-header {
            background-color: var(--card-header-bg);
        }
        .list-group-item {
            border-left: none;
            border-right: none;
            padding-left: 2rem;
            border-color: var(--categories-border);
            &:last-child {
                border-bottom-color: var(--card-bg);
            }
        }
    }
    #archives li:nth-child(odd) {
        background-image: linear-gradient( to left, rgb(26, 26, 30), rgb(39, 39, 45), rgb(39, 39, 45), rgb(39, 39, 45), rgb(26, 26, 30));
    }
    color-scheme: dark;
    #disqus_thread {
        color-scheme: none;
    }
}


/* dark-scheme */